<mat-toolbar color="primary">
  <span>Toolbar</span>
  <span class="space"></span>
  <button mat-icon-button (click)="toggleExtraMenu()"><mat-icon>dashboard</mat-icon></button>
  <button mat-icon-button (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>
</mat-toolbar>

<mat-sidenav-container class="container">
  <!--over, push, side-->
  <mat-sidenav #menu mode="push">
    <!--Items del menú principal-->
    <mat-nav-list>
      <mat-list-item *ngFor="let item of menuItems">
        <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
        <a mat-line [href]="item.link">{{ item.name }}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!--Contenido principal-->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <!--Menú secundario-->
  <mat-sidenav #extra mode="over" position="end">End content</mat-sidenav>
</mat-sidenav-container>
